server:
  port: 8001

spring:
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    url: jdbc:oracle:thin:@192.168.1.243:1521:orcl
    username: retailsystem
    password: Aladin123
    hikari:
      poolName: Hikari
      auto-commit: false
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.OracleDialect
  application:
    name: RETAILSERVICE

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/

    instance:
      hostname: localhost


jwt:
  secret: cmV0YWlsIHN5c3RlbSB0ZXN0aW5nIA==
  expirationTime: 1000